configuration {
  modi: "window,drun,ssh,filebrowser";
  terminal: "alacritty";
  drun-match-fields: "name";
  sidebar-mode: true;
  combi-modi: "window,drun,ssh,filebrowser";
}
@theme "~/.local/share/rofi/themes/squared-everforest.rasi"
