configuration {
  modi: "window,drun,ssh,filebrowser,emoji,calc";
  terminal: "kitty";
  drun-match-fields: "name";
  sidebar-mode: true;
}
@theme "~/.local/share/rofi/themes/squared-everforest.rasi"
